@model HVI
@{
    ViewData["Title"] = "InsertData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="@Url.Action("InsertDataToDB", "Seller")" method="post" enctype="multipart/form-data">
    <input name="WhseCode" type="number" placeholder="WhseCode" />
    <input name="WhseTag" type="number" placeholder="WhseTag" />

    <button type="submit">Enviar datos</button>    
</form>

