@inject IHttpContextAccessor cntx;
@{
    ViewData["Title"] = "OfferUpload";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}





<div class="row">
  <div class="col-12 d-flex justify-content-center align-items-center">
      <h2>Upload your offer</h2>
  </div>
</div>


    <div id="mainDiv" class="row" style="width: 70%; margin: auto">
        <div class="col-12">
            <div class="card">
                <div class="d-flex flex-row align-items-center justify-content-between card-header">
                    <div id="excel">1 de 3 - Cargar HVI </div>
                    <div>
                        <button id="mostrar" class="btn btn-primary text-white fw-bold visually-hidden" onclick="mostrarDatos()">Mostrar datos</button>
                        <button id="siguiente1" class="btn btn-primary text-white fw-bold visually-hidden" onclick="seguir1()">Siguiente</button>                                               
                    </div>
                </div>     
                
                <div class="card-body">

                 <div id="fileInput" class="col-sm-4">
                    <label id="labelInput" style="cursor:pointer;" class="pointer-event text-primary fw-bold" for="inputExcel"><span><i class="bi bi-file-earmark-arrow-up text-primary"></i></span> Seleccionar archivo</label>
                    <input class="form-control-file visually-hidden" type="file" id="inputExcel" onclick="mostrarBoton()" />
                 </div>  
                
                <hr id="mainHr" class="" />

                    <div class="row" style=" max-height:60vh; overflow:scroll;">
                        <div class="col-sm-12">
                            <table id="tbData" class="table table-striped table-condensed" style="min-width:max-content; border:1px solid black">
                                <thead>
                                    <tr style="position:sticky; top:0px; background-color:white; height:100%">
                                        <th>C1</th>
                                        <th>C2</th>
                                        <th>Leaf</th>
                                        <th>Stpl</th>
                                        <th>Mic</th>
                                        <th>Str</th>
                                        <th>LRR</th>
                                        <th>NetWeight</th>
                                        <th>Len</th>
                                        <th>Ext</th>
                                        <th>RD</th>
                                        <th>PlusB</th>
                                        <th>Uni</th>
                                        <th>Trash</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                </tbody>
                            </table>
                            <div id="loadingSpinner" class=" d-none text-center text-primary">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </div>

    <div id="formDiv" class="row container visually-hidden w-50 mx-auto">
       <div class="col-sm-12">
            <div class="card ">
                <div class="d-flex flex-row align-items-center justify-content-between card-header">
                    <div id="excel">2 de 3 - datos de la oferta </div>
                    <div>
                        <button id="anterior" class="btn btn-primary text-white fw-bold" onclick="volver(); return false;">Volver</button>
                        <button id="siguiente2" class="btn btn-primary text-white fw-bold" onclick="seguir2(); return false;">Siguiente</button>                       
                    </div>
                </div>

                <div class="card-body">
                    
                            <form class="col-12 d-flex flex-column justify-content-between gap-1">
                                <div>
                                    <div class="form-group">
                                        @* <label class="fw-bold" for="priceInput">PRECIO</label>*@
                                        <input type="text" id="priceInput" class="form-control w-50" placeholder="PRECIO" />
                                      
                                            <input type="radio" checked="checked" id="fixPrice" name="priceType" value="Precio fijo">
                                            <label class="fw-bold" for="fixPrice">Precio fijo</label>

                                            <br />

                                            <input type="radio" id="marketPlusPrice" name="priceType" value="Mercado mas precio">
                                            <label class="fw-bold" for="marketPlusPrice">Mercado mas precio</label>                                                                       
                                        
                                    </div>

                                    <br />

                                    <div class="form-group">
                                        <label class="fw-bold" for="almacenInput">ALMACEN</label>
                                        <select id="almacenInput"></select>
                                    </div>

                                    <br />

                                    <div class="form-group">
                                        <label class="fw-bold" for="validezInput">VALIDEZ</label>
                                        <input type="date" id="validezInput" class="form-control w-50" />

                                        <input type="radio" checked="checked" id="fixDate" name="validityType" value="Fecha fija">
                                        <label class="fw-bold" for="fixDate">Fecha fija</label>

                                        <br />

                                        <input type="radio" id="GTC" name="validityType" value="GTC">
                                        <label class="fw-bold" for="GTC">GTC</label>
                                    </div>
                                </div>

                               

                                <div>

                                     <div class="form-group">
                                        @*<label class="fw-bold" for="CompInput">Comp</label>*@
                                        <input type="text" id="CompInput" class="form-control w-50 mb-1" placeholder="COMPOSICION" />
                                    </div>

                                    <div class="form-group">
                                        @*<label class="fw-bold" for="CropYearInput">AÑO DE COCECHA</label>*@
                                        <input type="text" id="CropYearInput" class="form-control w-50 mb-1" placeholder="AÑO DE COCECHA" />
                                    </div>                                   

                                    <div class="form-group">
                                        @*<label class="fw-bold" for="MaturityInput">Madurez</label>*@
                                        <input type="text" id="MaturityInput" class="form-control w-50" placeholder="MADUREZ" />
                                    </div>                                   

                                </div>

                            </form>
                       
                </div>
            </div>
       </div>
    </div>

    <div id="uploadDiv" class="row container visually-hidden  w-50 mx-auto">
        <div class="col-sm-12">
            <div class="card">
                <div class="d-flex flex-row align-items-center justify-content-between card-header">
                    <div id="excel">3 de 3 - Confirmacion de oferta</div>
                    <div>
                    <button id="anterior2" class="btn btn-primary text-white fw-bold" onclick="volver2(); return false;">Volver</button>                   
                    <button id="enviardb" class="btn btn-primary text-white fw-bold visually-hidden" onclick="enviarBaseDatos()">Cargar oferta</button>
                    </div>
                </div>
            </div>
            <div class="card-body">    
                
                <div class="p-1" style="border: .5px solid lightgray">
                    <div class="col-12 d-flex flex-row justify-content-between gap-1">
                        <div>
                            <label for="userReadOnly">Usuario</label>
                            <input type="text" readonly id="userReadOnly" class="w-100 mb-1 form-control" placeholder="Usuario" />

                            <label for="priceReadOnly">Precio</label>
                            <input type="text" readonly id="priceReadOnly" class="w-100 mb-1 form-control" placeholder="PRECIO" />

                            <label for="priceTypeReadOnly">Tipo de precio</label>
                            <input type="text" readonly id="priceTypeReadOnly" class="w-100 mb-1 form-control" placeholder="PRECIO tipo">

                            <label for="almacenReadOnly">Almacen</label>
                            <input type="text" readonly id="almacenReadOnly" class="w-100 mb-1 form-control" placeholder="almacen">

                            <label for="compReadOnly">Comp</label>
                            <input type="text" readonly id="compReadOnly" class="w-100 mb-1 form-control" placeholder="Comp" />                           
                        </div>

                        <div>
                            <label for="validezReadOnly">Validez de la oferta</label>
                            <input type="text" readonly id="validezReadOnly" class="w-100 mb-1 form-control" placeholder="validez" />

                            <label for="validezTypeReadOnly">Tipo de validez</label>
                            <input type="text" readonly id="validezTypeReadOnly" class="w-100 mb-1 form-control" placeholder="validez type" />

                            <label for="CropYearReadOnly">Año de la cocecha</label>
                            <input type="text" readonly id="CropYearReadOnly" class="w-100 mb-1 form-control" placeholder="AÑO DE COCECHA" />

                            <label for="MaturityReadOnly">Madurez</label>
                            <input type="text" readonly id="MaturityReadOnly" class="w-100 mb-1 form-control" placeholder="MADUREZ" />
                        </div>

                    </div>
                </div>

                

                <div class="row">
                    <div class="col">
                        <h3 id="xd" class="card-body">Promedio</h3>
                        <table id="tbAvg" class="table table-striped">
                            <thead class="bg-light">
                                <tr>
                                    <th>C1</th>
                                    <th>C2</th>
                                    <th>Leaf</th>
                                    <th>Stpl</th>
                                    <th>Mic</th>
                                    <th>Str</th>
                                    <th>LRR</th>
                                    <th>NetWeight</th>
                                    <th>Len</th>
                                    <th>Ext</th>
                                    <th>RD</th>
                                    <th>PlusB</th>
                                    <th>Uni</th>
                                    <th>Trash</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody2">
                            </tbody>
                        </table>
                    </div>
                </div>  

            </div>
       </div>       
    </div> 



@section Scripts{
    <script>
        
        const input = document.getElementById("inputExcel")
        const mostrar = document.getElementById("mostrar")
        const tableBody = document.getElementById("tableBody")
        const tableBody2 = document.getElementById("tableBody2")
        const loadingSpinner = document.getElementById("loadingSpinner")
        const tbData = document.getElementById("tbData")
        const enviardb = document.getElementById("enviardb")
        const priceInput = document.getElementById("priceInput")
        const almacenInput = document.getElementById("almacenInput")
        const validezInput = document.getElementById("validezInput")
        const fixDate = document.getElementById("fixDate")
        const CropYearInput = document.getElementById("CropYearInput")
        const formDiv = document.getElementById("formDiv")
        const mainDiv = document.getElementById("mainDiv")
        const fileInput = document.getElementById("fileInput")
        const excel = document.getElementById("excel")
        const mainHr = document.getElementById("mainHr")
        const fixPrice = document.getElementById("fixPrice")
        const marketPlusPrice = document.getElementById("marketPlusPrice")
        const GTC = document.getElementById("GTC")
        const MaturityInput = document.getElementById("MaturityInput")
        const siguiente1 = document.getElementById("siguiente1")
        const siguiente2 = document.getElementById("siguiente2")
        const siguiente3 = document.getElementById("siguiente3")
        const uploadDiv = document.getElementById("uploadDiv")
        const priceReadOnly = document.getElementById("priceReadOnly")
        const almacenReadOnly = document.getElementById("almacenReadOnly")
        const validezReadOnly = document.getElementById("validezReadOnly")
        const CropYearReadOnly = document.getElementById("CropYearReadOnly")
        const MaturityReadOnly = document.getElementById("MaturityReadOnly")
        const priceTypeReadOnly = document.getElementById("priceTypeReadOnly")
        const validezTypeReadOnly = document.getElementById("validezTypeReadOnly")
        const anterior = document.getElementById("anterior")
        const anterior2 = document.getElementById("anterior2")
        const UserInput = document.getElementById("UserInput")
        const CompInput = document.getElementById("CompInput")
        const compReadOnly = document.getElementById("compReadOnly")
        const userReadOnly = document.getElementById("userReadOnly")
        const nestUl = document.getElementById("nestUl")
        let postData = {}

        function removeClass() {
            if (nestUl.classList.contains("visually-hidden")) {
                nestUl.classList.remove("visually-hidden")
            }
            else {
                nestUl.classList.add("visually-hidden")
            }
        }

        function mostrarBoton() {
            input.addEventListener("change", function () {
            labelInput.innerHTML = input.files[0].name;
            });
            mostrar.classList.remove("visually-hidden")
        }

        function mostrarDatos() {
           

                loadingSpinner.classList.remove("d-none");

                const formData = new FormData()

                formData.append("ArchivoExcel", input.files[0])

                fetch("/Seller/MostrarDatos", {
                    method: "POST",
                    body: formData
                })
                    .then((response) => { return response.json() })
                    .then((dataJson) => {
                        dataJson.forEach((item) => {
                            $("#tbData tbody").append(
                                $("<tr>").append(
                                    $("<td>").text(item.C1),
                                    $("<td>").text(item.C2),
                                    $("<td>").text(item.Leaf),
                                    $("<td>").text(item.Stpl),
                                    $("<td>").text(item.Mic),
                                    $("<td>").text(item.Str),
                                    $("<td>").text(item.LRR),
                                    $("<td>").text(item.NetWeight),
                                    $("<td>").text(item.Len),
                                    $("<td>").text(item.Ext),
                                    $("<td>").text(item.RD),
                                    $("<td>").text(item.PlusB),
                                    $("<td>").text(item.Uni),
                                    $("<td>").text(item.Trash)
                                )
                            )
                        })                       
                        loadingSpinner.classList.add("d-none");
                        mostrar.classList.add("visually-hidden")
                        siguiente1.classList.remove("visually-hidden")
                    })                             
        }

        function seguir1(){            
            mainDiv.classList.add('visually-hidden')
            formDiv.classList.remove("visually-hidden")
        }

        function volver(){
            mainDiv.classList.remove('visually-hidden')
            formDiv.classList.add("visually-hidden")
        }

        function seguir2(){
            let alertArray = []

            if (priceInput.value == "") {
                alertArray.push("\"PRECIO\" ")
            }

            if (validezInput.value == "") {
                alertArray.push("\"VALIDEZ\" ") 
            }

            if(CompInput.value == ""){
                alertArray.push("\"COMPOSICION\" ")
            }

            if (CropYearInput.value == "") {
                 alertArray.push("\"AÑO DE COSECHA\" ")
            }

            if ( MaturityInput.value == "") {
                    alertArray.push("\"MADUREZ\" ")
            }

            if (alertArray.length > 1) {
                Swal.fire("", "Los campos: " + alertArray + "deben tener un valor asignado", "warning")
            }

            if (alertArray.length == 1) {
                Swal.fire("", "El campo: " + alertArray + "debe tener un valor asignado", "warning")
            }

            if (alertArray.length == 0) {

                formDiv.classList.add("visually-hidden")
                uploadDiv.classList.remove("visually-hidden")                

                priceReadOnly.value = priceInput.value
                priceTypeReadOnly.value = document.querySelector('input[name="priceType"]:checked').value
                almacenReadOnly.value = 2 /*almacenInput.value*/
                validezReadOnly.value = validezInput.value
                validezTypeReadOnly.value = document.querySelector('input[name="validityType"]:checked').value
                CropYearReadOnly.value = CropYearInput.value
                MaturityReadOnly.value = MaturityInput.value
                compReadOnly.value = CompInput.value

                enviardb.classList.remove("visually-hidden")
                const table = document.getElementById("tableBody");
                const table2 = document.getElementById("tableBody2");
                const rows = table.rows.length;
                const cols = 14;
                const proms = [];
                var sumVal = 0;

                for (var j = 0; j < cols; j++) {
                    for (var i = 0; i < rows; i++) {
                        sumVal = sumVal + parseFloat(table.rows[i].cells[j].innerHTML);
                    }
                    proms.push(parseFloat(sumVal / rows).toFixed(4));
                    sumVal = 0;
                }

                var tableContent = '<tr>';
                for (var i = 0; i < cols; i++) {
                    tableContent += "<td>" + proms[i] + "</td>";
                }

                tableContent += '</tr>';
                table2.innerHTML += tableContent;
                userReadOnly.value = @cntx.HttpContext.Session.GetInt32("userId")

                proms.push(parseFloat(priceReadOnly.value).toFixed(4));
                proms.push(priceTypeReadOnly.value);
                proms.push(almacenReadOnly.value);
                proms.push(validezReadOnly.value);
                proms.push(validezTypeReadOnly.value);
                proms.push(CropYearReadOnly.value);
                proms.push(MaturityReadOnly.value);
                proms.push(compReadOnly.value);
                proms.push(userReadOnly.value);


                postData = { values: proms };
                console.log(postData)

            }            
        }

        function volver2() {
            formDiv.classList.remove("visually-hidden")
            uploadDiv.classList.add("visually-hidden")
            tableBody2.innerHTML=""
        }       

        function enviarBaseDatos() {
          $.ajax({
              type: "POST",
                url: "InsertData",
                data: postData,
                datatype: "json",
                success: function(data){
                    Swal.fire({
                        text:'Oferta subida con exito',
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Continuar'
                    }).then((resultado) => {
                        if(resultado.isConfirmed){
                            window.location.href = '/Home/HviAPI'
                        }                        
                    })                   
                },
                error: function(){
                    Swal.fire({
                        text: 'Ha ocurrido un error',
                        icon: 'error',
                        showCancelButton: false,
                        confirmButtonText: 'Continuar'
                    })
                }
          });            
        }

        document.addEventListener('DOMContentLoaded', obtenerWhse())        
        function obtenerWhse(){
            var select = document.getElementById("almacenInput");
            var names = [];
            $.get( "/Seller/GetWhse", function( data ) {
                data.forEach(x=> {
                    names.push(x.Name);
                });
              console.log(names);
              for(var i = 0; i < names.length; i++){
                  var option = document.createElement("option");
                  option.text = names[i];
                  select.appendChild(option);
              }
            });
        }

        //document.addEventListener('DOMContentLoaded', obtenerNombre()) 
        //function obtenerNombre(){
        //    $.get("/Seller/Username", function(user){               
        //        console.log(user);
        //        userReadOnly.value = user
        //        console.log("el readonly es: " + userReadOnly.value);
        //    })
        //}
        
    </script>
}