<h2>
    ACA VAN LA LISTA DE OFERTAS PENDIENTES
</h2>

@section Scripts{
    <script>
        const nestUl = document.getElementById("nestUl")

        function removeClass() {
            if (nestUl.classList.contains("visually-hidden")) {
                nestUl.classList.remove("visually-hidden")
            }
            else {
                nestUl.classList.add("visually-hidden")
            }
        }
    </script>
}
