
@{
    ViewData["Title"] = "Index";
}

<h1>Pujas</h1>
<h5>Pujas realizadas por el usuario:</h5>
  <button onclick="getUserBids()"  class="btn btn-primary fw-bold">Ofertas</button>
  <table id="tbBid" class="table table-striped">
        <thead class="bg-light">
            <tr>
                <th>Oferta</th>
                <th>Empresa</th>
                <th>Usuario</th>
                <th>Precio</th>
                <th>Status</th>
                <th>Comentarios</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>


@section Scripts{
    <script>
        const nestUl = document.getElementById("nestUl")

        function removeClass() {
            if (nestUl.classList.contains("visually-hidden")){
                nestUl.classList.remove("visually-hidden")
            }
            else{
                nestUl.classList.add("visually-hidden")
            }
        }

        function changeStatus(){
            fetch("/Buyer/UpdateStatus", {
                method:"PUT",               
                body: FormData
            });

            window.location.href = '/Home/HviAPI'
        }

        function getUserBids(){
            $.get("/Buyer/GetUserBids", function(data){               
                console.log(data);
                document.getElementById("tableBody").innerHTML = "";
            data.forEach(x => {
                var tr = document.createElement("tr");
                var filaCelda = `<tr>
                                 <td>${x.IdOffer}</td>
                                 <td>${x.Id_company}</td>
                                 <td>${x.IdUsuario}</td>
                                 <td>${x.Price}</td>
                                 <td>${x.IdBidStatusFK}</td>
                                 <td>${x.Comments}</td>
                                 <td>${x.Date}</td>
                                </tr>`;
                tr.innerHTML = filaCelda;
                document.getElementById("tableBody").append(tr);
            })
            })
        }
    </script>
}