@model List<HVI>

<h2>GetHvi</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UHML</th>
            <th scope="col">UI</th>
            <th scope="col">Strength</th>
            <th scope="col">SFI</th>
            <th scope="col">MIC</th>
            <th scope="col">ColorGrade</th>
            <th scope="col">TrashId</th>
            <th scope="col">OrderId</th>
        </tr>
    </thead>
    <tbody id="bodyTable">
        
    </tbody>
</table>

@section Scripts{
    <script src="~/js/dist/browser/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
                             .withUrl("/hvihub")
                             .build();
            connection.start().catch(function (err){
                return console.error(err.toString());
            });

            setInterval(() => {

            connection.invoke("ExecuteProcedure").catch(function (err) {
                return console.error(err.toString());
            });  

            }, 5000);

        connection.on("ReceiveStoredProcedureResult", function (result) {
            console.log(result);
            document.getElementById("bodyTable").innerHTML = "";
            result.forEach(m => {
                var tr = document.createElement("tr");
                var filaCelda = `<tr>
                                 <td>${m.id}</td>
                                 <td>${m.uhml}</td>
                                 <td>${m.ui}</td>
                                 <td>${m.strength}</td>
                                 <td>${m.sfi}</td>
                                 <td>${m.mic}</td>
                                 <td>${m.colorGrade}</td>
                                 <td>${m.trashId}</td>
                                 <td>${m.orderId}</td>
                                </tr>`;
                tr.innerHTML = filaCelda;
                document.getElementById("bodyTable").append(tr);
            })
        });

    </script>
}















