@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section>
    <div class="form-box">
        <div class="form-value">
            <form asp-controller="Home" asp-action="HviAPI">
                <h2>Login</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input autocomplete="off" type="email" @*required*@>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" @*required*@>
                    <label for="">Password</label>
                </div>                
                <button>Log in</button>
                
            </form>
        </div>
    </div>
</section>



